<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person form</title>
</head>
<body>
<form action="#" th:action="@{/person/processForm}" th:object="${person}" method="post">
    <table>
        <tr>
            <td><label>Name</label></td>
            <td><input type="text" th:field="*{name}" /></td>
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
        </tr>
        <tr>
            <td><label>Last Name</label></td>
            <td><input type="text" th:field="*{lastName}" /></td>
            <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
        </tr>
        <tr>
            <td>
                <select th:field="*{country}">
                    <option th:value="'Poland'" th:text="'GLORIUOS UND POWERFUOL POLAN'"></option>
                    <option th:value="'Germany'" th:text="'evul and nazi niemcy'"></option>
                </select>
            </td>
        </tr>
        <tr>
                <td><label>Please write "Marian Kowalski is most handsome guy on earth"</label></td>
                <td><input type="text" th:field="*{someTest}" /></td>
                <p th:if="${#fields.hasErrors('someTest')}" th:errors="*{someTest}"></p>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></td>
        </tr>
    </table>
</form>
<a href="/"> Go back to home page</a>
<a href="/person/list"> See list of people! </a>
</body>
</html>